.registrationContainer {
    margin: 1rem auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.registerImgContainer {
    display: flex;
    justify-content: flex-end;
}

.registrationActionSection {
    display: flex;
    margin:40px auto;
    gap: 30px;
    flex-grow: 1;
}

.registrationActionSection button {
    flex: 1;
}

.dottedSection{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 2px dotted var(--text-label);
    background: var(--card);
    padding: 30px;
    gap: 5px;
}

.uploadIconWrapper {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
}

.uploadIconSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.uploadIconSection:hover {
    background: var(--text-light);
}

.uploadIcon {
    font-size: 20px;
    color: var(--primary);
}

.errorMessage {
    margin: 10px auto;
    color: var(--primary);
}

.registrationDescription {
    margin: 15px auto;
}

.contentIconsWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.regCameraIcon {
    font-size: 20px;
    color: var(--primary);
}

.spanClickContainer{
    font-size: 13px;
    color: var(--primary);
}