annotated-types      
anyio                   
click                  
colorama               
exceptiongroup        
face-recognition-models 
fastapi                
h11                     
idna                    
pip                     
pydantic                
pydantic_core          
setuptools              
sniffio                 
starlette              
typing_extensions      
typing-inspection      
uvicorn               
pymongo[srv]
dnspython
face_recognition
python-dotenv
python-multipart
motor
opencv-python
requests
fastapi[all]