.cameraContainerContent {
  position: relative;
  min-width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cameraImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
}


.cameraVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.greenLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00FF00;
  animation: scan 2s linear infinite;
}


.loaderContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
