.cameraContainerContent {
  position: relative;
  width: 100%;
  max-width: 600px;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border: 2px solid #000;
}

.cameraVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.greenLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00FF00;
  animation: scan 2s linear infinite;
}


.loaderContainer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--card)
}

.imageContainer {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

@keyframes scan {
  0% {
    top: 0%;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}
