.welcomeContainer {
    margin: 1rem auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}

.welcomeContentContainer {
    display: flex;
    flex-direction: column;
    margin:30px auto;
}

.actionButtons {
    display: flex;
    gap: 30px;
    margin: 20px 0;
}

.welcomeContentSection {
    margin: 10px 0px;
}


.homeImgContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

